* {
    box-sizing: border-box;
}

.row {
    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}


/*on mobile*/

.col-1,
.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-9,
.col-12 {
    width: 100%;
}

@media only screen and (min-width: 843px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33%;
    }
    .col-6 {
        width: 49%;
    }
    .col-8 {
        width: 66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-12 {
        width: 100%;
    }
}
