/*
Colors:
Text/Dark:  #202421;
Background/Light: #FEFDFB;
Red: #F04F48;
Yellow: #FEC57C;
Green: #0E8358;
*/


/***** CSS RESET *****/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    /*  CHROME  */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*  DELETE BEFORE SUBMITTING  */
    /*    border: 1px solid grey*/
}

/***** GENERAL STYLES *****/

body {
	background-color: #FEFDFB;
	/*background-image: url("../images/vegetable-basket.jpg")
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	color: #202421;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
/*	text-align: center;*/
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	color: #0E8358;
	margin-top: 2rem;
	text-align: center;
}

header, section {
	width: 80%;
	margin: 0 auto;
}

/***** LINKS *****/

a {
	text-decoration: none;
	color: #0E8358;
}

/***** LANDING PAGE *****/

form, label, input, button {
	width: 100%;
	display: block;
	margin: 0 auto;
}

form {
	border: 1px solid #F04F48;
	border-radius: 5px;
	margin-top: 2rem;
	padding: 1rem;
}

form label {
	text-align: left;
}

form input {
	margin-top: 0.2rem;
	margin-bottom: 1rem;
	padding-left: 0.5rem;
	height: 1.8rem;
	font-family: 'Barlow', sans-serif;
	font-size: 1rem;
	border: 0.5px solid #FEC57C;
	border-radius: 3px;
}

form button {
	font-family: 'Barlow', sans-serif;
	border: 0.5px solid #F04F48;
	border-radius: 3px;
	height: 1.8rem;
	background-color: #F04F48;
}

.register-links {
	width: 100%;
	margin: 0 auto;
	font-size: 1rem;
}

.new-user, .forgot-password {
	margin: 0.5rem;
	text-align: center;
	display: block;
}

/***** MEDIA QUERIES *****/

@media only screen and (min-width: 600px) {
	.register-links {
		width: 90%;
	}

	.new-user, .forgot-password {
		display: inline-block;
	}

	.new-user {
		float: left;
	}

	.forgot-password {
		float: right;
	}
}

@media only screen and (min-width: 900px) {

	form, label, input, button, .register-links {
		width: 80%;
	}

}

@media only screen and (min-width: 1200px) {

	form, .register-links {
		width: 60%;
	}

}