
/*Colors:
Text/Dark:  #2C363F;
Background/Light: #FBF7F5;
Red: #890620;
Yellow: #E8C547;
Green: #0E8358;
*/


/***** CSS RESET *****/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    /*  CHROME  */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*  DELETE BEFORE SUBMITTING  */
     /*border: 1px solid grey;*/
}

/***** GENERAL STYLES *****/

body {
	background-color: #FBF7F5;
	color: #2C363F;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

button {
	background-color: #E8C547;
	height: 3rem;
	width: 8rem;
/*	margin: 0.8rem;*/
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	border-radius: 5px;
}

form {
	margin: 0 auto;
	text-align: left;
	width: 60%;
}

/*form h2 {

}*/

input {
	height: 2.5rem;
	border-radius: 5px;
	padding-left: 0.5rem;
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	margin-top: 1rem
}

input::placeholder {
	padding-left: 0.5rem;
}

footer {
	height: 10px;
	margin-top: 1rem;
	text-align: center;
	font-size: .8rem;
}

/***** INDEX *****/

.login-section, .detail-section {
	text-align: center;
}

.login-section {
/*	font-size: 1.8rem;*/
	color: #FBF7F5;
	background-image: url("../images/vegetable-basket1.jpg");
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.login-section h2 {
	font-size: 4rem;
	padding-bottom: 1rem;
}

.login-section p {
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.login-section button {
	font-size: 1.5rem;
}

.detail-section {
	margin-top: 3rem;
	margin-bottom: 1.5rem;
}

.fa {
	margin-bottom: 1rem;
	padding: 2rem;
	font-size: 4rem;
	border: 1px solid #2C363F;
	border-radius: 50%;
}

.fa-envira {
	color: #0E8358;
}

.fa-sun-o {
	color: #E8C547;
}

.fa-pencil {
	color: #2C363F;
}


/***** LOG-IN/REGISTER PAGE *****/

#login-form, #register-form {
	margin: 0.5rem;
}

#login-page, #register-page {
	margin-top: 2rem;
	text-align: center;
}

#login-page h2 {
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#register-page h2 {
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#login-page button {
	display: block;
	width: 100%;
	margin-left: 0;
}

#register-page button {
	display: block;
	width: 100%;
	margin-left: 0;
}

/***** HOME *****/

#plantSection {
	margin-top: 2rem;
	padding: 1rem;
	font-size: 1.5rem;
	border: 1px solid #890620;

}

#plantSection p {
	margin-bottom: 1rem;
}

#updatePlantSection {
	margin: 1rem;	
}

#addPlantSection {
	margin: 1rem;
}

#add-plant {
	margin-top: 1rem;
}